.sub-menu-categories{
    position: absolute;
    bottom: -463.5px;
    width: 250px;
    background-color: var(--background-color-light);
    color: var(--text-color-dark);
    z-index: 50;
    font-weight: 100;
    box-shadow: 0px 4px 10px var(--box-shadow-color);
}

.sub-menu-categories-list{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.sub-menu-categories-link{
    display: flex;
    gap: 5px;
    align-items: center;
    text-decoration: none;
    color: var(--text-color-dark);
}
.sub-menu-categories-list-item{
    position: relative;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.sub-menu-categories-list-item:hover{
    background-color: var(--background-color-dark-light);
}
