.slider-brands > .swiper-button-prev {
    height: 60px;
    top: 35%;
    left: 0px;
    background-color: transparent;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), 80%, rgba(255, 255, 255, 0));
    border-radius: 0px;
    box-shadow: none;
}
.slider-brands > .swiper-button-next{
    height: 60px;
    top: 35%;
    right: 0px;
    background-color: transparent;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 1), 80%, rgba(255, 255, 255, 0));
    border-radius: 0px;
    box-shadow: none;
}
.slider-brands > .swiper-button-prev::after,
.slider-brands > .swiper-button-next::after{
    color: var(--gray-500);
    font-size: 20px;
}