.card{
    width: var(--width);
    border-radius: 10px;
    border: 1px solid var(--gray-100);
    background-color: var(--background-color-light);
    cursor: pointer;
}
.card-auto{
    --width: auto;
}
.card-medium{
    --width: 230px;
}
.card-large{
    --width: 475px;
}
.card-full{
    --width: 100%;
}