.select-store-container{
    padding: 20px 0px;
    background-color: var(--white-100);
    border-bottom: 1px solid var(--gray-100);
}
.select-store{
    display: flex;
    gap: 10px;
}
.select-store > h3 {
    font-weight: 100;
    font-size: 1rem;
    color: var(--gray-500);
    margin: 8px 0px;
}